<!DOCTYPE html>
<html>
<head>
  <title>Coursera</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

  </style>
</head>
<body style="background-color:#f5f5f0;">

<nav class="navbar navbar-inverse navbar navbar-fixed-top">
  <div  class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " style="text-decoration: none" href="#">OS_Coursera</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if  current_user  %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand glyphicon glyphicon-book" style="text-decoration: none" href="/courses"> Courses</a></li>
        <li><a class="navbar-brand glyphicon glyphicon-list" style="text-decoration: none" href="/lectures"> Lecture</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

            <li><h5 style="color: antiquewhite">welcome <%= current_user.name%> </h5></li>
            <li><image src="<%=current_user.image%>" class="img-circle" style="width:50px; height:50px" ></image></li>
            <li><a class="navbar-brand " ><%= link_to "Logout",  destroy_user_session_path,method: :delete%></a></li>
      </ul>

    <% else %>
        <ul class="nav navbar-nav navbar-right">
             <li><a class="navbar-brand"> <%= link_to "Login",  new_user_session_path %></a></li>
        </ul>
    <%  end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="height: 50px"></div>
<%= yield %>

</body>
</html>
